.Cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    align-items: center;
}

.CabecalhoImagem {
    width: 20%;
}

.CabecalhoInterface {
    text-align: right;
}