.Cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    align-items: center;
}

.CabecalhoImagem {
    width: 20%;
    flex: 1;
}

.CabecalhoInterface {
    flex: 1;
    text-align: right;
}